.titulo {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-primaria);
    background-color: var(--cor-segundaria);
    padding: 1em 0;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 40px
}

.conteudo__texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    font-weight: 400;
}

.texto {
    margin-bottom: 48px;
}

.redes__sociais {
    display: none;
}

@media (min-width: 540px) {
    .titulo {
     font-size: var(--font-tablet);
    }

    .redes__sociais {
        display: block;
        display: flex;
        justify-content: space-evenly;
        padding: 16px 0 16px 0;
        border-top: 1px solid var(--cor-segundaria);
    }

    .redes__sociais img:hover {
        width: 120%;
    }

    .conteudo__texto {
        font-size: var(--font-tablet);
        
    }
}

@media (min-width: 1240px) {


    .conteudo {
        align-items: center;
    }

    .titulo {
        font-size: var(--font-desktop);
       }

    .conteudo__texto {
        font-size: var(--font-desktop);
        flex-basis: 48%;
        padding: 40px;
        
    }
    
    .conteudo__imagem {
        flex-basis: 50%;
        padding: 40px 0;
    }

    .direita {
        flex-direction: row;
    }

    .esquerda {
        flex-direction: row-reverse;
    }

}

