.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 24px;
}

.navbar {
    display: none;
}

@media (min-width: 540px) {
   
    .cabecalho {
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--cor-primaria);
        
    }
    .navbar {
        display: block;
        padding: 16px;
    }

    .navbar img:hover {
        padding-bottom: 8px;
        
    }

    .cabecalho__buttom {
        padding: 0 8px;
    }

}