@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-segundaria);
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-primaria: #EFEAD8;
    --cor-segundaria:  #395144;
    --cor-hover: #7fc8a9; 
    
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-segundaria: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background-color: var(--cor-segundaria);
    padding: 1%;
}


.logo {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;

}


header a {
    color: var(--cor-primaria);
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;

}

ion-icon.contato {
    font-size: 48px;
}

header a:hover {
    color: var(--cor-hover);
}


.contato {
    display: flex;
    align-items: center
}
    
.banner__imagens {
    display: flex;
    width: 100%;
    height: auto;
}

.titulo {
    padding: 3%;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--cor-segundaria);
}

.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    
}

.conteudo__texto {
    font-family: var(--fonte-segundaria);
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--cor-segundaria);
    padding-left: 2%;
}
    
.rodape {
    background-color: var(--cor-segundaria);
}

.rodape__links {
    display: flex;
    justify-content: center;
    gap: 5%;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 1%;
}

ion-icon {
    font-size: 48px;
    color: var(--cor-primaria);
    

  }

ion-icon:hover {
    color: var(--cor-hover);
}

.rodape__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.rodape {
    color: var(--cor-primaria);
    font-size: 1rem;
    
}

.by {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1%;
    border-top: 2px solid var(--cor-primaria);
    padding-top: 3px;
}

.by img {
    width: 50%;
    height: auto;
}

@media (max-width: 768px) {

    .logo{
        width: 63px;
        height: 16px;
    }

    .titulo {
        font-size: 1rem;
    }

    .navbar a {
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.5rem;
    }
    .conteudo__texto{
        
        font-size: 1rem;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        padding-top: 2%;
    }

    ion-icon.contato {
        font-size: 16px;
    }

  }