@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-primaria: #EFEAD8;
    --cor-segundaria:  #395144;
    --cor-hover: #7fc8a9; 
    
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-segundaria: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
    font-family: var(--fonte-segundaria);
    font-size: 3vw;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background-color: var(--cor-segundaria);
    padding: 1.5%;
}


.logo {
    display: flex;
    align-items: center;
    width: 18vh;
}

.navbar {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    gap: 0 2%;
}


header a {
    color: var(--cor-primaria);
    font-weight: 400;
    transition: all .50s ease;

}

ion-icon.contato {
    font-size: 8vh;
}

header a:hover {
    color: var(--cor-hover);
}

header a.active {
    color: var(--cor-hover);
}


.contato {
    display: flex;
    align-items: center
}
    
.banner__imagens {
    display: flex;
    width: 100%;
    height: auto;
}

.titulo {
    padding: 3%;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 5vh;
    font-weight: 800;
    color: var(--cor-segundaria);
}

.conteudo__blocos {
    display: flex;
    align-items: center;
    margin: 2%;
    
}

.conteudo__imagem {
    max-width: 100%;
    height: auto;
}

.conteudo__texto {
    font-family: var(--fonte-segundaria);
    font-size: 5vh;
    font-weight: 400;
    color: var(--cor-segundaria);
    margin: 3%;
    
}
    
.rodape {
    background-color: var(--cor-segundaria);
}

.rodape__links {
    display: flex;
    justify-content: center;
    gap: 5%;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 1%;
}

ion-icon {
    font-size: 8vh;
    color: var(--cor-primaria);
    

  }

ion-icon:hover {
    color: var(--cor-hover);
}

.rodape__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.rodape {
    color: var(--cor-primaria);
    font-size: 2vh;
    
}

.by {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 2%;
    border-top: 2px solid var(--cor-primaria);
    padding: 1% 2%;
}

.by img {
    width: 5vh;
    
}


  @media (max-width: 1024px) {


    .conteudo__blocos {
        display: flex;
        flex-direction: column;
      
    }

  }