@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito&display=swap');

:root {
    --cor-primaria: #EFEAD8;
    --cor-segundaria:  #395144;
    
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-segundaria: 'Nunito', sans-serif;
}

body {
    background-color: var(--cor-primaria);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-segundaria);
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.cabecalho__links__navegacao {
    display: flex;
    align-items: center;
}

.cabecalho__link {
    padding-left: 3%;
    padding-right: 3%;
}

.cabecalho__link__contato {
    display: flex;
    align-items: center
}
    
.banner__imagens {
    display: flex;
    width: 100%;
    height: auto;
}

.apresentacao__titulo {
    padding: 5%;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--cor-segundaria);
}

.apresentacao__conteudo {
    display: flex;
   justify-content: space-between;
   gap: 3%;
   padding: 0% 2% 4% 2%;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-segundaria);
    font-size: 3rem;
    font-weight: 400;
    color: var(--cor-segundaria);
}
    
.rodape {
    background-color: var(--cor-segundaria);
}

.rodape__links__redesSociais {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 1%;
}

.rodape__logo__redesSociais {
    width: 100px;
    height: 100px;
}

.rodape__logo {
    display: flex;
    justify-content: center;   
    padding: 1%; 
}

@media (max-width: 768px) {

    .apresentacao__conteudo {
        flex-direction: column;
    }
    
}