.rodape__mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-segundaria);
    padding: 8px 0;
}

.rodape__tablet {
    display: none;
}

@media (min-width: 768px) {
    .rodape__mobile {
        display: none;
    }
    
    .rodape__tablet {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--cor-primaria);
        background-color: var(--cor-segundaria);
        padding: 16px;
    }
}


@media (min-width: 1024px) {
    
}