.cards__titulo {
    background-color: var(--cor-primaria);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 16px;
    margin-bottom: 8px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    background-color: var(--cor-primaria);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
}

.card__img {
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 150px;
    flex-basis: 50%;
}

.card__tx {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 50%;
    gap: 16px;
}

.card__titulo {
    font-weight: 600;
}

.card__botao {
    align-self: center;
    color: var(--cor-segundaria);
    font-weight: 600;
    border: 1px solid var(--cor-segundaria);
    padding: 8px;
    border-radius: 4px;
    width: 50%;
}

.redes__sociais {
    display: flex;
    justify-content: space-evenly;
    color: var(--cor-primaria);
    padding: 16px 0;
    margin-bottom: 72px;
}

.redes__sociais ion-icon {
    font-size: 40px;
}

@media (min-width: 720px) {
    .redes__sociais {
        margin-bottom: 0;
    }
}